.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img {
    width: 80%;
    /* Note: if you change the width of .gridViewItem's img, 
    you also need to change .gridViewInfo's width 
     */
}

.gridViewInfo {
    width: 80%; 
    /* Note the info's width should follow .gridViewItem's width */
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a {
    text-decoration: none;
}