.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img {
    width: 80%;
    /* Note: if you change the width of .gridViewItem's img, 
    you also need to change .gridViewInfo's width 
     */
}

.gridViewInfo {
    width: 80%; 
    /* Note the info's width should follow .gridViewItem's width */
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a {
    text-decoration: none;
}

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftPart {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftPart img {
    width: 100%;
}

.entityInfo .rightPart {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightPart h2 {
    margin-top: 0px;
}

.entityInfo .rightPart p {
    color: #ffffff;
    font-weight: 200;
}