.tracklist {
    padding: 0;
}
.trackCount {
    font-size: large;
}

.trackInfo {
    font-size: large;
}

.trackDuration {
    font-size: large;
}

.tracklistRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
    /* border-bottom: 1px solid #282828; */
}

.tracklistRow span {
    color: #ffffff;
    font-weight: 200;
}

.tracklistRow:hover {
    border: 2px solid #ffffff;
    /* background-color: #282828; */
    background-color: transparent;
    border-radius: 8.5px;
}

.tracklistRow .trackCount {
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img {
    visibility: visible;
}

.tracklistRow .trackCount span {
    visibility: visible;
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;
}

.tracklistRow .trackInfo {
    width: 75%;
    float: left;
}

.tracklistRow .trackInfo span {
    display: block;
}

.tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.tracklistRow:hover .trackOptions img {
    visibility: visible;
}

.tracklistRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}

.tracklistRow .trackInfo .trackName {
    color: #fff;
    margin-bottom: 7px;
}









